attrs==20.3.0
decorator==4.4.2
iniconfig==1.1.1
joblib==1.0.1
networkx==2.5
numpy==1.20.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
scikit-learn==0.24.1
scipy==1.6.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
tqdm==4.56.2
typing-extensions==3.7.4.3
